function Line.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
label WHILE_EXP0
push argument 2
push argument 3
lt
not
if-goto WHILE_END0
push argument 2
push argument 0
push argument 1
call Square.new 3
pop this 0
push this 0
call Square.draw 1
pop temp 0
push argument 2
push constant 1
add
pop argument 2
goto WHILE_EXP0
label WHILE_END0
push pointer 0
return
